.invite{
    margin: auto;
    margin-top: 80px;
    width: 80%;
    max-width: 800px;

    h2{
        margin-bottom: 20px;
    }


    &__link p{
        width: 100%;
        margin-top: 10vh;
        color: red;
    }

    &__url{
        width: 100%;
        margin-top: 20px;
        height: 30px;
        background-color: $dark-grey;
        color: white;
    }

    &__auth{
        margin-top: 30px;
        margin-right: 15px;
        width: 150%;
    }
}