
<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   
</p>
<nav class="bottom_nav">
    <%= link_to event_path(), :class=>"bottom_nav__link" do%>
        <i class="material-icons bottom_nav__icon">assessment</i>
        <span class="bottom_nav__text bottom_nav__text--active">Ranking</span>
    <%end%>
    <%= link_to details_event_path(), :class=>"bottom_nav__link" do%>
        <i class="material-icons">theaters</i>
        <span class="bottom_nav__text">Details</span>
    <%end%>
    <%= link_to organisation_event_path(), :class=>"bottom_nav__link" do%>   
        <i class="material-icons">assignment</i>
        <span class="bottom_nav__text">Organisation</span>
    <%end%>
</nav>